#registerdiv{
    background-image: url('resources/img/arcademachine.jpg');
    background-repeat: no-repeat;
    background-color: #29170B;
    position:fixed;
    background-position: center; 
    width: 100%;
    height: 100%;
    
}

#registerdiv.form
{
    display: block;
    text-align: center;
}
#registration
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
 