@font-face {
    font-family: pacFont;
	src: url('resources/font/pacfont.ttf');

}
header{
  font-family: pacFont;
	z-index: 100;
	text-align: center;
  background-color: teal;
  font-size: 30px;
  color: yellow
}
@font-face {
  font-family: arcade;
src: url('resources/font/arcade.ttf');

}
body{
	background-color: rgb(66, 40, 40);

}
#wrapper{
	font-family: arcade;
  color: rgb(238, 255, 0);

}
#menu
{
  top: 0%;
  font-family: pacFont;
	z-index: 100;
	text-align: center;
	display: inline-block;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
	width: 100%;
	left: 0;
	font-size: 30px;
}
li {
    display: inline-block;
}
li a {

	display: block;
    color: rgb(238, 255, 0);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: rgb(245, 229, 3);
    color: rgb(0, 0, 0);
}



@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v9/pxiKyp0ihIEF2isQFJXGdg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: VT323;
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v9/pxiKyp0ihIEF2isRFJXGdg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v9/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.btn {
  font-family: VT323;
  background: #7C7C7C;
  border-bottom: 5px inset rgba(0, 0, 0, 0.5);
  border-left: 5px inset rgba(0, 0, 0, 0.5);
  border-right: 5px inset rgba(255, 255, 255, 0.5);
  border-top: 5px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  margin: 1rem;
  max-width: 320px;
  padding: .5rem;
  text-shadow: 0px 0px 5px #000;
  text-transform: uppercase;
  width: 100%;
}
.btn:focus, .btn:hover {
  background: #BCBCBC;
}

.btn.primary {
  background: #881400;
}
.btn.primary:focus, .btn.primary:hover {
  background: #A81000;
}

.btn.secondary {
  background: #005800;
}
.btn.secondary:focus, .btn.secondary:hover {
  background: #006800;
}

.btn.tertiary {
  background: #0000BC;
}
.btn.tertiary:focus, .btn.tertiary:hover {
  background: #0000FC;
}
